html {
  overflow: hidden;
}

.product, .cart {
  border-radius: 20px;
  box-shadow: 0 8px 12px #bfd6e6;
  font-size: 1.2rem;
}

.productContainer {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  grid-gap: 1em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
}

.productDetails {
  display: grid;
  grid-template-rows: repeat(4, 3em);
  grid-template-columns: repeat(2, auto);
  padding: 1em;
}

.productTitle {
  border-radius: 17px 17px 0 0;
  background: #bed8ef;
  padding: 1em;
  text-align: center;
}

.productTitle h4 {
  margin: 0;
}

.productPrice, .productDeal {
  grid-column: 1 / -1;
  text-align: center;
}

.productDeal {
  margin: auto 0;
}

.productPrice {
  grid-row: 1;
}


.productInput {
  grid-column: 1;
  border: .1rem solid #83b9e8;
  font-size: 1rem;
  padding-left: 1em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin-right: 5px;
  transform: scale(1.3)
}

.clearCart,.updateCart {
  border: .1rem solid #83b9e8;
  background: #fff;
}

.clearCart {
  padding: 1em;
}

.updateCart {
  grid-column: 2;
  border-left: none;
  transition: all .1s ease;
}

.updateCart:hover, .clearCart:hover {
  cursor: pointer;
  background: #83b9e8
}

input[type="number"]:focus, button:focus {
  outline: none;
}

.cart {
  height: 57%;
  min-width: 31%;
  margin-left: 1em;
  text-align: center;
}

.cartItems h4 {
  text-align: center;
}

.cartItems {
  padding: 1em;
}

header {
  width: 100%;
  text-align: center;
  background: black;
  color: #fff;
  padding: 1em 0;
}

header h1 {
  margin: 0;
}

@media (max-width: 768px) {
  html {
    overflow: scroll;
  }
  .container {
    justify-content: unset;
    margin-top: 1em;
  }
  .productContainer {
    width: 100%;
  }
  .cart {
    min-width: 90%;
    margin: 1em auto 0;
    height: fit-content;
  }
  .product {
    width: 90%;
    margin: 0 auto;
  }
}
